[2014-10-17 11:29] AugierLe42e opened #6 "Disable smileys replacement"
Related to [loomio discussion](https://www.loomio.org/d/esJaABHn/add-smileys-support?locale=fr)

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/5346136-disable-smileys-replacement?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.c

[2014-10-20 10:17] Anime-Machina opened #8 "Working+Optimized NGINX configuration"
I am the podmin of Diasp.net and running this version of Diaspora* for helping the development and high demand for it. Although it is very buggy but here I would like to share my nginx config with optimized SSL security.

[NGINX Working+Optimized Config](https://gist.github.com/Anime-Machina/dd610a887b1d9c8994cb)

Although knowing which version to run from this repo would be useful ;)

<bountysour

[2014-10-20 10:17] Anime-Machina opened #10 "Double Contacts"
When adding some one you can get double contacts if he added you back.

![img](http://i.imgur.com/wwUhjAK.png)

How to cause it:
- Add some one to contacts (user1@diasp.net -> user2@diasp.net)
- Let same one else add you to contacts (user2@diasp.net -> user1@diasp.net)

What happens: Chaos!

It also affects when you time out from the chat:
![img](http://i.imgur.com/b2sFy5I.png)

<bountysource-plug

[2014-10-31 11:46] Zauberstuhl opened #22 "Logout process"
Currently I registered the event on our Diaspora logout button, see https://github.com/diaspora/jsxc/blob/develop/jsxc.lib.js#L294 and https://github.com/Zauberstuhl/diaspora/blob/xmpp_chat_feature/app/assets/javascripts/jsxc.js#L10

That has the effect that you have to click two times on the button.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysou

[2014-11-21 18:26] Anime-Machina opened #38 "Require to reconnect?"
Hello there,

You are required to reconnect after browsing to a different pages is this intended?

//Edit:

It happens not all the time, usually it is random.

![img](http://i.imgur.com/a3FhJDT.png)

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/6419395-require-to-reconnect?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_med

[2014-11-21 20:01] Anime-Machina opened #39 "Chat entirely disapeares"
I reported this a wile ago apparently it is still not fixed:

Wile browsing Diaspora you end up in losing the chat panel (Right Sidebar) including all windows during browsing. The only way to fix this (temporarly) is clearing all cookies and application data.

Browser: Google Chrome, Iceweasel, FireFox
Remake the bug: Browse Diaspora* and use the middle mouse button, load a different page and voil

[2014-11-21 20:11] jhass opened #40 "Terminology: jsxc by talks about buddies"
At diaspora we take to care to use the term contact. Not all your social contacts are your friends or your buddies.

Should we try to convince upstream to change that? Or should we maintain our own localization?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/6422495-terminology-jsxc-by-talks-about-buddies?utm_campaign=plugin&utm_con

[2014-11-22 17:45] jhass opened #45 "Tooltip contains markup"
![screenshot_20141122_184311](https://cloud.githubusercontent.com/assets/141294/5155073/bd77ffb4-7277-11e4-9c95-331aa7692c01.png)

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/6446268-tooltip-contains-markup?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2014-11-22 23:12] jhass opened #48 "Injected contacts shouldn't have edit controls"
![](http://cloud.aeshna.de/u/mrzyx/screenshots/screenshot_20141123_001126.png)

Top contact is a regular roster entry, bottom one is injected via aspects. Ideally the top one would have have the edit and delete controls while the bottom one doesn't. As a workaround I'd prefer to remove them completely.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bount

[2014-11-23 09:40] Anime-Machina opened #49 "When clicking 'Relogin' your page refreshes and nothing happens."
Hello there again,

Updated diaspora* this morning to the latest commit, there is a bug when clicking the 're login' button. It minimizes the chat window to the right side and refreshes the page but it does not log you in. Although I am also connected trough bitlbee if that makes a difference.

Just to make things clear the button teases me allot :[

![IMG](http://i.imgur.com/A48NpLK.png "Teasing

[2014-11-29 09:46] Anime-Machina opened #60 "Chat window times out too shortly"
I noticed the chat times out in about 2 minutes and personally I think it could be extended to atleast 30 minutes?

//rethought:
Personally I think there is a bit of a personal flavor to this so could it be added to the config?

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/6612507-chat-window-times-out-too-shortly?utm_campaign=pl

[2014-12-03 17:27] jhass opened #61 "Logging in shouldn't reload the page"
Title says it all. Mid- to long-term goal but I think it's quickly annoying, especially if you scrolled down the stream for a bit.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/6737319-logging-in-shouldn-t-reload-the-page?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We accept bounties v

[2015-01-02 00:49] dimaursu opened #62 "Git submodules should be changed to bower packages"
There's no point in having 2 ways of managing dependencies:
"i18next" and "otr" have bower packages, with these names.
"stophe.jingle" doesn't, the package in bower is way older. (It's the original repo, not the one forked by sulko)

[2015-01-03 00:04] Zauberstuhl commented on #62
agree with i18next.

after I wrote you on diaspora I remembered why I haven't moved otr and strophe to bower; sulko touched the code.

but it is still a valid point. let me think about it, maybe we find a proper solution for this.

[2015-01-05 08:09] wiltur opened #64 "Can't add buddy"
Hi,
I can active chat, login, but it's not possible to add a buddy to the chat, nothing appened when clicking on Add_buddy .

I'm on diaspora-fr.org using firefox 34.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7489210-can-t-add-budy?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We acc

[2015-01-05 08:30] Flaburgan commented on #64
@wiltur you have to go to your contact page and activate the chat for the aspects you want.

[2015-01-05 08:35] Flaburgan commented on #60
@Zauberstuhl I confirm this is an annoying issue. I just activated the chat on diaspora-fr.org, please ping me on IRC and I'll give you an invite to test the chat on my pod ;)

[2015-01-05 08:36] wiltur commented on #64
ho, ok, sorry, i get it now :)

[2015-01-05 08:37] Flaburgan commented on #10
It doesn't seem fixed to me on the last develop code.

[2015-01-05 08:41] Flaburgan commented on #61
I was wondering, why don't we put the chat in an iframe? Login / relogin in the chat reload the page, reloading the page or navigating reload the chat... This looks annoying. How does Facebook and Jappix-Mini deal with those problems?

[2015-01-05 10:10] wiltur opened #65 "modify buddy name doesn't work avec logout"
When a buddy name is edited, it seems to work first, but after logout and log in again, nothing has changed, it's always the buddy user loggin that is showed.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7491434-modify-buddy-name-doesn-t-work-avec-logout?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_sou

[2015-01-05 10:19] Flaburgan commented on #65
Hm, how are you able to edit someone's nickname?

Do we even want to be able to change other people names?

[2015-01-05 11:31] Zauberstuhl commented on #64
we should definitely create a help page in diaspora for that (https://wiki.diasporafoundation.org/Vines#I_have_no_contacts_in_my_roster).

[2015-01-05 11:33] #64 closed

[2015-01-05 11:38] Zauberstuhl commented on #65
related to #48

[2015-01-05 11:45] Zauberstuhl commented on #61
jappix mini checks on the initialization whether all required parameters are available and then tries to login automatically. jsxc needs a submit event.

In my opinion a iframe is just another workaround. no solution ;)

I have no idea how much work it is to modify jsxc for auto-login, but since we already have a submit-event (on diaspora-login) we could use that, no?!

[2015-01-05 11:47] Zauberstuhl commented on #10
@Flaburgan if you have multiple chat-aspects and one user is in both then you see him twice

[2015-01-05 11:48] Zauberstuhl commented on #60
@Flaburgan I already have a test account sechat@diaspora-fr.org. I will look into that asap

[2015-01-05 11:50] Flaburgan commented on #10
That's my use case. This is still a bug imo.

[2015-01-05 13:46] wiltur opened #67 "Display the nickname rather than the login"
Perhaps it would be good to show the user name rather than login (or have both shown) in the list of buddys. In fact we do not always know the login name of a user and it is sometimes very different from the nickname.
Maybe it can be diplayed next to the login.

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7496146-display-the-nic

[2015-01-06 15:41] Flaburgan opened #68 "Display the time (date and hour minutes seconds) of messages"
The user should be able to know when they received a chat message ;)

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7533602-display-the-time-date-and-hour-minutes-seconds-of-messages?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2015-01-11 05:49] pravi commented on #62
how about jquery and plugins? Since they are already served via rails-assets.org as gems, why do we have to embed them? gemspec already has those dependencies. sprockets will find them anyway.

[2015-01-12 14:10] Zauberstuhl opened #69 "Translation bug; if no language is found we should use the default."
The original way was to use the translate-function (https://github.com/diaspora/jsxc/blob/develop/jsxc.lib.js#L678). That is not used by i18n!!

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7674608-translation-bug-if-no-language-is-found-we-should-use-the-default?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues

[2015-01-12 14:14] Zauberstuhl opened #70 "Translation bug; e.g. french strings are not found"
set language to french and translate close_private string

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7674729-translation-bug-e-g-french-strings-are-not-found?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=

[2015-01-12 16:13] Zauberstuhl commented on #70
er... well cause it is not released yet :P

[2015-01-12 16:13] #70 closed

[2015-01-12 16:46] #65 closed

[2015-01-12 17:09] #69 closed

[2015-01-12 17:25] Zauberstuhl commented on #10
e.g. pidgin does the same thing and it is valid in my opinion. the user is in two categories so he will be displayed in both. we could think about displaying the group name in jsxc. then it should be clear for the user.

[2015-01-12 17:28] Zauberstuhl commented on #8
this belongs to the wiki see https://wiki.diasporafoundation.org/Vines

following the official diaspora update guide will install the latest version of jsxc!

[2015-01-12 17:28] #8 closed

[2015-01-12 17:29] #6 closed

[2015-01-12 17:33] jhass commented on #10
I agree that the current situation is a bug. We either need to display the group name or remove the duplicates. Personally I would tend to do the later.

[2015-01-12 22:54] #45 closed

[2015-01-13 11:03] #48 closed

[2015-01-13 11:04] Flaburgan commented on #48
:)

[2015-01-13 11:10] Zauberstuhl commented on #61
looks like a ajax solution is planned for v1.1 (sualko/jsxc#98). That would be my favorite solution!

[2015-01-13 13:25] Zauberstuhl commented on #60
This is probably not related to jsxc. It seams it is a problem with nginx (sechat.org uses apache).

@Flaburgan could you change your ngninx config to something like that:

[code]

diaspora-fr runs into multiple 504 errors so adjusting nginx-timeouts according to http://www.getvines.org/server/cluster/ should fix your problem (I updated the wiki).

[2015-01-13 13:31] Flaburgan commented on #60
@Zauberstuhl conf updated. Let's make a test.

[2015-01-13 14:00] Anime-Machina commented on #60
\o/ updates!
On Jan 13, 2015 2:31 PM, "Fla" <notifications@github.com> wrote:

[2015-01-13 14:32] Flaburgan commented on #60
Looks like it doesn't timeout anymore.

[2015-01-13 14:38] Zauberstuhl commented on #60
@Anime-Machina can you confirm that? you have also a nginx setup.

[2015-01-13 14:52] Anime-Machina commented on #60
I will once I get home, currently at my bank /o\
On Jan 13, 2015 3:38 PM, "Lukas Matt" <notifications@github.com> wrote:

[2015-01-14 01:12] Zauberstuhl commented on #68
@Flaburgan any suggestions/improvements to my proposal?

[2015-01-14 08:50] Flaburgan commented on #68
To be perfect, I would say display the date only if it's not today? But it's already quite nice, thank you!

[2015-01-14 15:36] AugierLe42e opened #75 "Click on the nickname should bring to contacts page"
When clinckin on the nickname displayed in an opened chat window, action should bring to the user's profile.

![sync_opt1](https://cloud.githubusercontent.com/assets/3429231/5741466/7181a5b6-9c0b-11e4-879c-b6f0439ef25e.png)

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7757734-click-on-the-nickname-should-bring-ton-contacts-page?

[2015-01-14 17:05] Zauberstuhl commented on #67
closing it. this is related to the back-end (see related ID).

Thanks for reporting

[2015-01-14 17:05] #67 closed

[2015-01-14 20:20] Anime-Machina commented on #60
I tested it for a couple of days by signing in (still using bitlbee), longest test is about 30 minutes. It did not timed out so far. Good job @Zauberstuhl

[2015-01-14 21:56] #60 closed

[2015-01-15 12:23] #68 closed

[2015-01-16 10:46] Zauberstuhl opened #78 "Possible cross site scripting"
`first_name` and /or `last_name` could be used to inject code.

The PR was not released, yet. Nevertheless it should be fixed asap!

related to diaspora/vines#46

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/7808397-possible-cross-site-scripting?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github

[2015-01-21 09:23] AugierLe42e commented on #49
This has been solved, isn't it ?

[2015-01-21 09:36] Anime-Machina commented on #49
I beleave it got fixed at JSXC 9.2, but it still bugs out some times
(rarely)

On Wed, Jan 21, 2015 at 10:23 AM, Augier <notifications@github.com> wrote:

[2015-01-21 09:36] Anime-Machina commented on #49
Yes it got fixed, close it!

On Wed, Jan 21, 2015 at 10:36 AM, Daan Montijn <anime.machina@gmail.com>
wrote:

[2015-01-21 09:53] #49 closed

[2015-01-21 09:54] AugierLe42e commented on #39
@Anime-Machina : fixed too, isn't it ?

[2015-01-21 09:55] AugierLe42e commented on #38
@Anime-Machina : Do you still have this bug ? It seems to be fixed on d-fr.

[2015-01-21 09:57] AugierLe42e commented on #22
@Zauberstuhl : #7 solved this problem, right ?

[2015-01-21 10:06] Zauberstuhl commented on #22
Nope this is still a problem. #7 was something different (misleading title).

[2015-01-21 10:58] Anime-Machina commented on #38
It got confirmed earlyer, it was fixed thanks to a NGINX Config edit ^^

On Wed, Jan 21, 2015 at 10:55 AM, Augier <notifications@github.com> wrote:

[2015-01-21 11:00] Anime-Machina commented on #39
It got fixed, just verified although I should have confirmed it a wile ago. My bad :)

[2015-01-21 11:04] #38 closed

[2015-01-21 11:06] #39 closed

[2015-02-13 11:44] jhass commented on #40
https://github.com/diaspora/jsxc/blob/develop/locales/en.json#L6

This is still not fixed. Now that our translations are upstream, how will we handle this?

[2015-02-13 12:47] Zauberstuhl commented on #40
well, we should request that change in jsxc webtransletit or use our own locales?

[2015-02-13 12:49] jhass commented on #40
Great, you understood my question. If I knew I wouldn't have started this issue with exactly this question!

[2015-02-13 12:56] Zauberstuhl commented on #40
https://webtranslateit.com/en/projects/10365-JSXC/discussions/43216

[2015-02-15 16:05] #61 closed

[2015-02-15 16:09] #78 closed

[2015-02-15 22:49] Flaburgan opened #83 "Always display the chat"
I looked at this, looks like there are some simple changes to do on the CSS. I'm going to create a pull request before the end of the week. Sorry I'm quite busy currently hosting @marienfressinaud at home ;)
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8603725-always-display-the-chat?utm_campaign=plugin&utm_content=tracker%2F715340

[2015-02-15 22:52] Flaburgan commented on #83
We have to deal with the back-to-top button though, it is actually hidden behind the chat. I'd like to check how https://github.com/diaspora/diaspora/pull/5247 is dealing with this button.

[2015-02-15 22:56] svbergerem commented on #83
@Flaburgan That is no big deal. I already implemented it but it broke in #63. We just need to add the class `chat-roster-shown` to `body > .container` like I did in #42 and everything should be fine.

[2015-02-15 23:26] AugierLe42e commented on #83
@Flaburgan : be sure to not make duplicate work with #82  ;)

[2015-02-16 20:29] #75 closed

[2015-02-17 14:07] AugierLe42e opened #85 "Display pseudonym instead of handle"
All is in the title. I don't think this information already exists in the JSXC data structure, right ?

<bountysource-plugin>

---
Want to back this issue? **[Place a bounty on it!](https://www.bountysource.com/issues/8650395-display-pseudonym-instead-of-handle?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www

[2015-02-17 14:11] Zauberstuhl commented on #85
with the newest dev version we display first plus last name instead of handle.

[2015-02-17 15:05] AugierLe42e commented on #85
Dev version of Vines ?

[2015-02-17 15:08] Zauberstuhl commented on #85
yes wasn't released yet

[2015-02-17 15:57] AugierLe42e commented on #85
Ok, closing it, so.

[2015-02-17 15:57] #85 closed

[2015-02-18 19:04] #10 closed

[2015-02-19 10:27] Zauberstuhl opened #86 "Diaspora customization got lost"
Since upstream ported all css to scss our diaspora customization got lost.

https://gist.github.com/f853d5e84df5adb60596

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/8706800-diaspora-customization-got-lost?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2015-02-19 11:44] AugierLe42e commented on #86
Hmm... There's more than this missing. The changes instroduced in #82 .

[2015-02-19 11:49] Zauberstuhl commented on #86
yes everything related to css. @AugierLe42e btw should we get rid of #11 in respect of #83?

[2015-02-19 18:14] AugierLe42e commented on #86
I think chat window should be hidable. It is not anymore on FB and I found this pretty annoying. But, of course, it should be displayed byt default on connection.

[2015-02-20 13:03] Zauberstuhl commented on #86
of course it should be hide-able. I am talking about the big gray click thing. Currently it is back to original `width:14px` you adjusted it to `width:34px`.

My opinion is that we should leave the 14 px cause the user will be aware of the chat anyway :)

[2015-02-20 13:11] AugierLe42e commented on #86
Initial problem was `14px` was not easy to click on.
Question is : do we want to customize the chat as least as possible ? If no, I can work on another way to display the chat. With may the hiding bar at the top instead on the left.

[2015-02-27 16:13] AugierLe42e commented on #86
Oh, shit @Zauberstuhl , we need to fix this quick. I hadn't seen yet what it looked like but this is... AAAARRG

[2015-03-01 17:54] AugierLe42e opened #87 "Facebox stalthily displayed on automatic connection"
When connecting, the automatic connection still displays a facebox for a short time and makes the page to freeze. I think, this should be removed, this can be disturbing for a standard user.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9087208-facebox-stalthily-displayed-on-automatic-connection?utm_campaign=plugin&utm_content=trac

[2015-03-02 21:22] AugierLe42e opened #88 "Ajax connection makes page freeze for 2-3 seconds"
I'm opening a seperated issue on this because it's more annoying than I first thought. It's really a big problem. JSXC seem to consume more resources now than before. :/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9131578-ajax-connection-makes-page-freeze-for-2-3-seconds?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_mediu

[2015-03-02 21:26] Anime-Machina opened #89 "[BUG] Double 'Online' Contacts"
![IMG](http://i.imgur.com/PohRlBk.png)

I thought it was fixed...

Any way just hit F5 to reproduce it ^^

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9131971-bug-double-online-contacts?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountys

[2015-03-02 21:29] jhass commented on #89
I can confirm.

[2015-03-03 18:43] Zauberstuhl commented on #86
what do you mean with disconnect?

[2015-03-03 18:54] AugierLe42e commented on #86
I need sometimes 2 times click on disconnect to really disconnect.

[2015-03-03 19:08] Zauberstuhl commented on #86
you are talking about the logout button on the nav-bar. That is right. That sucks ;)
But that is a old problem check #22

[2015-03-03 19:10] AugierLe42e commented on #86
I though it was solved ?

[2015-03-04 20:52] AugierLe42e commented on #89
@Zauberstuhl : I think thi bug is getting really worse :/

![chat](https://cloud.githubusercontent.com/assets/3429231/6493113/cda238e6-c2b8-11e4-99da-8c139a0f3f21.png)

[2015-03-04 20:59] AugierLe42e opened #90 "Notification should be more visible."
They are currently displayed in a badge at the bottom of the chat. This is a problem when someone not in a chat aspect talks to the user, as it might not be noticed.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9204338-notification-should-be-more-visible?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_sourc

[2015-03-04 21:19] AugierLe42e opened #91 "Chat hides the arrow to scroll up"
I have no idea how to solve this properly ! :p

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9204873-chat-hides-the-arrow-to-scroll-up?utm_campaign=plugin&utm_content=tracker%2F7153406&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2

[2015-03-04 21:43] Anime-Machina commented on #89
It disappears after a little wile like 3 to 5 minutes, I think it has to do with sessions of NGINX...

[2015-03-04 21:44] AugierLe42e commented on #89
Possible.

[2015-03-06 13:59] AugierLe42e opened #93 "Daltonian mode ?"
This has been requested by friend of mine. JSXC uses blue, grey, yellow and red colors which are not easy to distinguish colors for daltonian. A simple CSS override could do the trick.

It would be an opt-in mode, obviously.

[2015-03-08 19:55] #91 closed

[2015-03-08 20:26] Flaburgan commented on #93
Maybe we can report that upstream?

[2015-03-08 21:10] AugierLe42e commented on #93
I think it may be nice.

[2015-03-08 21:16] Flaburgan commented on #89
It's not getting worst: it's not "double", it's each time someone is in an aspect you activated the chat for.

[2015-03-08 21:18] AugierLe42e commented on #89
Nope, it has something to do with reconnection. See on the picture, I have some contacts appearing 5 to six times and nobody being in 6 different aspects (2 maximum).

[2015-03-08 21:52] Zauberstuhl opened #96 "Create test automatism for release cycle"
* git submodule check
* bower check
* basic error check on qunit

[2015-03-08 22:08] Zauberstuhl commented on #88
Can someone confirm that? I have no problems on my Thinkpad Edge 11

[2015-03-08 22:16] Zauberstuhl commented on #89
I fixed the grouping stuff. Now it seams like vines sends double contacts.
Check `jsxc.log`.

I am able to investigate that next weekend.

lgl

[2015-03-09 09:50] AugierLe42e commented on #88
I may come from the server though, the JS script freezes until the server answers. As sechat.org is smaller than diaspora-fr.org. So it may answer more quickly.

[2015-03-09 13:32] AugierLe42e commented on #89
Ok, I can confirm the bug. Each time I reload the page the contacts appear once and then, after the automatic reconection, each contact appear two times. I guess it is becaus the contats list isn't empty when JSXC refills it. Where am I able to see the logs ?

[2015-03-11 13:17] AugierLe42e commented on #88
I've uploaded you a video [here](http://www.c-henry.fr/XMPPlogin.mp4) so you can see how it's like. On the video, the page freezes for about 3 seconds but it's sometimes 4 or 6.

[2015-03-11 13:25] Flaburgan commented on #88
@Zauberstuhl you have an account on d-fr right? You can use this invitation link if you need: https://diaspora-fr.org/i/d24d8737f3a9

[2015-03-11 14:53] Zauberstuhl commented on #89
browser console. check `jsxc.log`

[2015-03-11 15:06] Zauberstuhl commented on #88
Nope I have also no problems with my diaspora-fr account. how many contacts do you have in the chat? If you add all your contacts (1k+) at once I am pretty sure your browser needs some time rendering it (plus the double contact bug).

[2015-03-11 15:33] Flaburgan commented on #88
something like ~200 in my 3 aspects where the chat is activated.

[2015-03-11 16:16] AugierLe42e commented on #88
I have ~50 contacts which I don't think this is a big amount. That's why I'm concerned on this. It happens on pretty much each page loading, this is a big ergonomic issue to me.

[2015-03-11 16:35] AugierLe42e opened #97 "Messages for offline contacts end up in message box ?"
Hey, this is an idea I'va had this morning. What if the messages for offline contacts ended up in message box ?
About the implementation, I thought about the possibility to specify a callback in JSXC lib that can be filled on initialisation ?
@Zauberstuhl : What do you think about the idea ?

[2015-03-12 22:09] Flaburgan commented on #88
I just deactivated temporary the chat on d-fr and I confirm that the page is not freezing anymore, even if I still find it pretty slown to load. Damn...

[2015-03-12 22:28] AugierLe42e commented on #88
It's only on connection. We have to find a way to lighten the connection function.

[2015-03-15 10:13] Zauberstuhl commented on #97
honestly I don't like it in respect of spamming. If you receive 10 offline messages you get 10 email notifications. also such functionality is better handled in the back-end.

[2015-03-15 10:30] AugierLe42e commented on #97
Well I though all the message could be sent under the same object, e.g "Offline chat", what do you think ?

[2015-03-16 07:15] Anime-Machina commented on #89
Sorry slacked a bit for a wile, this afternoon you'll have your log ^^

[2015-03-18 18:14] AugierLe42e commented on #93
Closing it as [proposed to upstream](https://github.com/jsxc/jsxc/issues/137).

[2015-03-18 18:14] #93 closed

[2015-03-23 13:50] Anime-Machina commented on #88
@jhass his reference is valid, I had this problem in the past as well. Clearing the pod its cache and your own browser temporary solves it.

@Zauberstuhl this issue is true my hardware specs:
- Debian 8 (Jessie/Testing)
- Asus Rampage Extreme IV
- Intel i7 920 @ 4.133 GHz
- 12GB DDR 3 Corsair Vengeance (I believe)
- Saphire R9 280 Dual Vapor X

My issue's:
Whole browser turns slow when it is loade

[2015-03-26 08:56] Zauberstuhl commented on #97
that wouldn't change the result. If you want to implement it feel free and make a proposal

[2015-03-26 08:57] #97 closed

[2015-03-27 18:01] AugierLe42e commented on #97
Ok, I trust you.

[2015-03-27 19:26] Zauberstuhl commented on #97
@AugierLe42e if you want to implement it Vines and Diaspora have to talk to each other.

[2015-04-23 10:50] kas70 opened #99 "no user avatar in chat sidebar"
noticed on diasp.net.

[2015-04-23 15:09] kas70 opened #100 "optionally store chat history (also for otr-conversations)"
and show this history, when resuming a conversation.

[2015-04-25 20:08] Zauberstuhl commented on #99
The user avatar is only update if the user is online.

I am also not sure what version of vines diasp.net is using. It works with the latest version (see diaspora/vines#44)

[2015-04-25 20:08] #99 closed

[2015-04-25 20:13] Zauberstuhl commented on #100
The history and the OTR-keys are stored in the browser (locally).

In case of deleting the local data your are no longer able to read decrypted. So there is no advantage in storing OTR messages on the server.

[2015-04-25 20:16] #100 closed

[2015-05-01 19:23] sualko commented on #40
Is someone working on this, or can I start changing the english translation?

[2015-05-01 19:24] jhass commented on #40
I don't think anybody is.

[2015-05-01 19:41] sualko commented on #40
Ok, then I start.

[2015-05-01 20:05] sualko commented on #40
Should be done.

https://webtranslateit.com/en/projects/10365-JSXC/activities/641778

[2015-05-01 20:24] jhass commented on #40
Alright, looks good.

I proofread them, while doing so I replaced "he or she" with the gender neutral singular "they" and left those unproofread for somebody to verify.

I also noticed a few strings that are apparently concatenated to other translations or strings. I flagged them as to verify since concatenation assumes a certain grammar, that works for many eastern language in a similar manner, b

[2015-05-12 19:55] nicolasrpmaia opened #101 "Chat sidebar not showing up"
The pod I'm in (DiasporaBR) has recently been updated to the 0.5 version, and even though I opted to allow contacts to chat with me, the gray chat sidebar is nowhere to be found.

I am using Abrowser (Firefox derivative) on Trisquel GNU/Linux 7.0. I have tried to clear cache and cookies, have reset with addons disabled and hit hard refresh (Ctrl+F5) and no sign of it working.

Also, other users in

[2015-05-12 19:55] jhass commented on #101
Please post the contents of your browsers error console.

[2015-05-12 19:56] nicolasrpmaia commented on #101
Sorry, what do you mean?

[2015-05-12 19:58] jhass commented on #101
Please access your browsers error console, clear it, reload the page and post the messages that appear.

[2015-05-12 20:03] nicolasrpmaia commented on #101
ReferenceError: mozRTCPeerConnection is not defined

Possibly because I disabled WebRTC?

[2015-05-12 20:36] jhass commented on #101
Sounds like it.

[2015-05-15 18:09] nicolasrpmaia commented on #101
For reference, that was the issue. Enabling WebRTC again made it work.

[2015-05-15 18:09] #101 closed

[2015-06-04 12:58] jhass opened #102 "Chatboxes spawn as if the sidebar is expanded"
Expanding and retracting the sidebar pulls them to the right again.

[2015-06-05 01:02] Nicklas2751 commented on #89
The bug was in line 276, the time check are wrong. It has to be an '<' instead of an '>'.

[2015-06-07 19:32] svbergerem commented on #89
The [changelog of jsxc](https://github.com/jsxc/jsxc/releases/tag/v2.0.0-beta1) says for version 2.0.0-beta1

so maybe updating our jsxc version will fix this bug.

[2015-06-08 14:53] Zauberstuhl commented on #89
@svbergerem updating the client is on my radar. it'll be no simple update

maybe this one https://github.com/jsxc/jsxc/commit/01b14279b3f22e10983ece7f043d82b5efbc4b9a ?

@Nicklas2751 could you create a pull-request in the upstream repository? The bug you describe still exists (https://github.com/jsxc/jsxc/blob/master/src/jsxc.lib.js#L246). Thanks!

[2015-06-08 14:58] Nicklas2751 commented on #89
@Zauberstuhl There is one already: https://github.com/jsxc/jsxc/pull/182 ;)

[2015-06-08 14:58] Zauberstuhl commented on #89
just saw your PM :) Cheers!

[2015-06-10 09:31] Nicklas2751 commented on #89
The bug i found was an missunderstand of the comment of "restore". This Bug is fixed in the upstream repository, so if we merge the upstream commits to this repo, the bug shoud be fixed.

[2015-06-10 13:42] Zauberstuhl commented on #89
thanks for your effort anyway!

[2015-06-30 07:51] theworldbright opened #104 "Same username shows up twice in the chat after refreshing the page"
Branch: Latest develop

Steps to reproduce:

1. Enable a two way subscription with any user on the chat
2. Open up the chat
3. Refresh the page

![screen shot 2015-06-30 at 4 48 26 pm](https://cloud.githubusercontent.com/assets/6329898/8426146/294f6b0a-1f48-11e5-8c6e-d2110b210135.png)

[2015-06-30 07:59] theworldbright opened #106 "Users show up as squares '■' instead of their username"
Branch: Latest develop

![screen shot 2015-06-30 at 4 57 39 pm](https://cloud.githubusercontent.com/assets/6329898/8426250/4c3d0e00-1f49-11e5-89ad-e005f94029e1.png)

[2015-06-30 08:07] theworldbright opened #108 "Increase visibility of chat bar toggle"
The chat bar toggle became harder to see as a result of the Bootstrap 3 port.

[2015-06-30 08:15] theworldbright commented on #104
Oh I just noticed #89.

[2015-07-16 09:28] pravi opened #110 "link to help section from chat box"
As suggested at https://github.com/diaspora/diaspora/issues/6202

[2015-07-30 17:22] Zauberstuhl commented on #108
closing in respect of #109

[2015-07-30 17:22] #108 closed

[2015-07-30 17:23] Zauberstuhl commented on #106
closing in respect of #107

[2015-07-30 17:23] #106 closed

[2015-07-30 17:25] Zauberstuhl commented on #104
duplicate. closing it

[2015-07-30 17:25] #104 closed

[2015-07-30 20:43] #22 closed

[2015-07-30 20:43] #86 closed

[2015-07-30 20:52] Zauberstuhl commented on #110
done ca724d69c59b5c91ef7f8bda98669991b15f68d4

[2015-07-30 20:52] #110 closed

[2015-08-10 08:45] sualko commented on #96
Related jsxc/jsxc#191

[2015-08-19 07:19] Zauberstuhl commented on #102
closing. fix is in develop

[2015-08-19 07:19] #102 closed

[2015-08-19 07:22] Zauberstuhl commented on #89
cannot reproduce it with [v0.1.2](https://github.com/diaspora/jsxc/issues?q=milestone%3A0.1.2)

can someone confirm this?

[2015-08-19 20:30] Zauberstuhl opened #116 "JSXC is not announcing the online status on login"
not sure if that is a upstream problem as well

[2015-08-20 11:39] Zauberstuhl commented on #89
Closing this. The refresh-bug is gone and the duplicates related to multiple groups is related to vines (see diaspora/vines#61)

[2015-08-20 11:39] #89 closed

[2015-08-20 11:52] Zauberstuhl opened #119 "Diaspora container is not adjusting while reloading page"
If you maximize jsxc and refresh the page:
jsxc will stay open but the d*-container will not adjust

![untitled](https://cloud.githubusercontent.com/assets/652428/9382573/74a5f0ca-4742-11e5-9494-75ba79f3a1af.png)

that changes when you click the roster-toggle again. it only happens in that specify case.

@svbergerem do you have an idea how to fix this easily?

[2015-08-20 12:14] Zauberstuhl opened #120 "JSXC diaspora alpha channel"
Fla you ask whether we can create a alpha (old stable) channel for jsxc.
Right now, there would be some conflicts related to bootstrap3 (different heights/widths)

The port is not complicated but I would wait till we have bootstrap3 in the alpha branch
then we shouldn't be afraid of nasty merge conflicts.

Objections?

@Flaburgan @AugierLe42e @svbergerem

[2015-08-20 14:41] AugierLe42e commented on #120
I'd wait too. I'd like to have a debug period to tests this on multiple pods. We are going to enable on diaspote soon.

[2015-08-20 17:52] Flaburgan commented on #120
Well the stable (== minor) branch is not going to have the bootstrap port until we release a new major version (develop branch), which will already include the fixes.

[2015-08-20 17:58] Zauberstuhl commented on #120
so you favour the alpha branch now. when is the next major?

[2015-08-20 20:44] AugierLe42e commented on #120
No date if I'm correct. But nothing urges. 0.6 might the most important community release diaspora have had.

[2015-08-21 10:04] #119 closed

[2015-08-21 10:04] #116 closed

[2015-08-21 10:04] #120 closed

[2015-08-22 16:00] AugierLe42e opened #123 "Contacts list in fixed position?"
I find a bit weird that opening the contacts list move all the page to the left. Is it a design choice not to place it in a fixed position?

[2015-08-22 16:21] Zauberstuhl commented on #123
from my perspective; yes it is.

we could talk about letting the user decide.
jsxc has a option for this: `jsxc.options.displayRosterMinimized`

but the user should be able to hide the chat!

[2015-08-22 16:23] AugierLe42e commented on #123
Nope, that was not my question. From my point of view, opening the chat should be done *over* the stream and not push it to the left.

[2015-08-22 16:28] Zauberstuhl commented on #123
on smaller screens you wouldn't be able to read the stream while the contact list is visible.

[2015-08-22 17:12] AugierLe42e commented on #123
Well the right bar is large enough, don't you think?

[2015-08-22 17:19] Zauberstuhl commented on #123
not on my netbook, no

[2015-08-22 17:36] AugierLe42e commented on #123
Alright. Closing this, then.

[2015-08-22 17:36] #123 closed

[2015-09-04 13:50] Zauberstuhl opened #124 "Presence state problems with jsxc"
[code]

[2015-10-11 19:34] AugierLe42e commented on #90
This might be solved with the new design.

[2015-10-11 19:36] AugierLe42e opened #128 "Roster not sticked to header with custom height"
Since you manually set the top position of the roster [here](https://github.com/diaspora/jsxc/blob/develop/build/css/jsxc.css#L2864), it creates problems with custom header like e.g on diaspote where header is 46px. I don't know if you can access to [the variable](https://github.com/diaspora/diaspora/blob/develop/app/assets/stylesheets/bootstrap-variables.scss#L361) from the gem. I'd say not so pr

[2015-10-12 05:46] #90 closed

[2015-10-12 17:25] #87 closed

[2015-10-12 17:25] #88 closed

[2015-10-12 17:28] AugierLe42e opened #130 "Automatic connection"
It was available in a previous version. Why was it removed?

[2015-10-12 17:32] AugierLe42e opened #131 "WebRTC not available"
Tested between me (Firefox 40) and dada (Firefox 41).

[2015-10-12 20:00] kas70 opened #132 "change the default jsxc-emoticons"
imho they are really ugly.
![emoticons](https://www.jsxc.org/images/features/0006.png)

[2015-10-29 15:05] pravi opened #134 "request to update jquery to 1.11.3"
debian already has 1.11.3 and this will help in keeping debian package in sync with upstream dependency chain.

[2015-11-26 00:27] Zauberstuhl commented on #134
@pravi what about jquery 2? should we use it instead of 1.11.3? (see the related diaspora ID)

[2015-11-26 00:29] Zauberstuhl commented on #130
it is not asynchronous (see #88)

[2015-11-26 01:17] Zauberstuhl commented on #134
just had a little research on my own seams like there is only 1.11.3 for debian right?
I will switch to 1.11.3 and mention this in the diaspora id.

[2015-11-26 07:55] pravi commented on #134
@Zauberstuhl yes, currently we have 1.11.3 and 3.0.0 alpha1 but we can't use it yet. Also please make it ~> 1.11.3

Let me check with my team if we can move to jquery 2 in debian.

[2015-11-26 08:34] AugierLe42e commented on #130
Meh :(

[2015-11-26 13:47] #134 closed

[2015-11-26 13:53] Zauberstuhl commented on #128
could you implement this? I had my problems with it. I am not sure if this even works across packages.
Maybe someone with more assets knowledge can help :)

[2015-11-26 13:59] AugierLe42e commented on #128
Yep, this has to be set in [this file](https://github.com/diaspora/diaspora/blob/develop/app/assets/stylesheets/chat.scss) I open a PR tonight.

[2015-11-26 14:07] Zauberstuhl commented on #128
<3 danke

[2015-11-26 14:46] #132 closed

[2015-11-26 16:08] AugierLe42e commented on #128
Bitte.

[2015-11-27 15:30] terceiro commented on #134
please just use `>= 1.11` since jquery is backwards compatible except for browser support ...

[2015-11-28 15:23] Zauberstuhl commented on #131
@sualko Hi I am trying to debug webrtc cause it is not working right now.
And to be honest I am stuck .. could you have a quick look at it maybe you have an idea.

if you do not have an account on sechat.org just create one/two [here](https://sechat.org)

[code]
the above is necessary to start a new call.
then if I try connection from chrome 46 to chrome 46:

init-client:
[code]

an on the other-s

[2015-11-29 21:36] Zauberstuhl commented on #128
closing in respect of https://github.com/diaspora/diaspora/pull/6567
thanks

[2015-11-29 21:36] #128 closed

[2015-11-30 11:37] axilleas opened #141 "#jsxc_roster element is hidden with chat enabled"
Following https://librenet.gr/posts/490484 I cannot see the chat window because `#jsxc_roster` element has a `right: -204px;` attribute. Disabling it makes the chat arrow appear.

[2015-11-30 12:46] comzeradd commented on #141
The problem seems to be that the chat is initiated with an option to "relogin" and at this time its container is smaller dragging the `#jsxc_toggleRoster` more into the right than it should be. If you choose to login in the chat the container (which now displays the roster) is wider pushing the toggle to right place.

[2015-11-30 13:56] Zauberstuhl commented on #141
hi guys, a lot happened in dev branch since the last alpha release.

I just tested version 0.1.4 on my dev setup and sechat.org.
checkout my PR for stable branch https://github.com/diaspora/diaspora/pull/6569

I am confident that the problem is gone with the latest jsxc version.

Cheers,
Lukas

[2015-12-02 23:38] Zauberstuhl commented on #141
closing this! was fixed at least with the newest version

[2015-12-02 23:38] #141 closed

[2015-12-31 11:41] Zauberstuhl opened #142 "Create some login spinner"
happened to me a view times, that the login was just slow and
I wasn't sure whether it crashed or was still loading.

need some spinner in the jsxc box or something similar

[2015-12-31 11:42] Zauberstuhl opened #143 "Clicking multiple times on offline-tab"
will remove the chat window. some research is required (no idea why :)

[2016-01-01 13:27] jaywink opened #144 "Show offline contacts doesn't seem to do much"
Just bumped to latest development head, meaning JSXC "~> 0.1.5.develop" according to gemfile.

When I click "Hide offline contacts" - it just hides their "profile picture", not the name, see:

![](http://i.imgur.com/xAMnvVgl.jpg)

(also it drops offline quite quickly, but that is probably some separate issue :P)

[2016-01-01 13:41] AugierLe42e commented on #144
Yep, it just make disappear profil circle :/

[2016-01-06 13:21] Zauberstuhl opened #145 "no coffee mug in current emojis"
...

[2016-01-06 13:29] AugierLe42e commented on #145
WTF!? HOW IS IT POSSIBLE!? HOW COULD YOU ALLOW THAT!?!!!?

[2016-01-06 15:19] denschub commented on #145
chill. :coffee:

[2016-01-14 17:01] hfroese opened #146 "XMPP chat web interface isn't working"
Hi guys,
external clients like Pidgin can login / connect to my diaspora server but the web interface isn't working.
![bildschirmfoto vom 2016-01-14 18 01 36](https://cloud.githubusercontent.com/assets/1968490/12331204/e330d478-bae8-11e5-84c2-ac65ddcafb26.png)
[vines.log.txt](https://github.com/diaspora/jsxc/files/90710/vines.log.txt)

[2016-01-14 17:23] Flaburgan commented on #146
Same problem for me on diaspora-fr.org, maybe since the upgrade to 1.4. @augierLe42 @SansPseudoFix is the chat working for you on d-fr? @asterismo also has similar problem on his pod.

[2016-01-14 17:32] SansPseudoFix commented on #146
Well, it seems to work now.

[2016-01-14 17:34] Flaburgan commented on #146
Wow, I get it! It's because we are offline by default, and when offline the roster isn't populated...

[2016-01-14 18:00] asterismo commented on #146
i'll upgrade to 0.5.6 now and will report back

[2016-01-14 18:24] asterismo commented on #146
i'm using prosody 0.10 and @jhass told me he did not tried the diaspora modules with that prosody version. I'm trying to upgrade diaspora to 0.5.6.0 now, but i'm having some problems. In the mean time, i wanted to comment that i can use the chat, but it seems that diaspora contacts are not loaded. As you see in the screenshot, i have many contacts, but they were added using Jitsi and they are not

[2016-01-14 18:44] hfroese commented on #146
My chat never worked with the web client but pidgin. Even not on 5.5.0

[2016-01-14 18:46] asterismo commented on #146
I talked to the prosody guys at their chatroom and they helped me a lot on getting a clean prosody conf file, are you using vines @hfroese?

[2016-01-14 18:47] hfroese commented on #146
Jipp - just vines - no external server

[2016-01-14 18:57] hfroese commented on #146
I don't know if its relevant but in vines.log there is an error:
  <stream:error>
    <unsupported-version xmlns="urn:ietf:params:xml:ns:xmpp-streams"/>
  </stream:error>

[2016-01-14 18:58] hfroese commented on #146
I don't know if its relevant but in vines.log there is an error:
  stream:error
    unsupported-version xmlns="urn:ietf:params:xml:ns:xmpp-streams"/
  /stream:error

[2016-01-14 18:59] Zauberstuhl commented on #146
yes it is probably vines related I like check it out asap

[2016-01-20 17:09] Zauberstuhl opened #147 "JSXC privacy settings"
[original post](https://sechat.org/posts/424b5400a0cf0133d377373e437e645f)

[2016-01-29 07:34] pravi commented on #62
Any plans for fixing this?

[2016-03-05 05:29] pravi opened #148 "allow joining conferences"
jsxc already supports joining conferences but diaspora_jsxc does not expose this feature.

This is important when xmpp is blocked (as is the case in many campuses in India), as the only option for them is via http (80/443 ports). Conversejs.org could be used as a work around, but that is a third party service.

[2016-03-05 05:37] pravi opened #149 "offer a full screen version on a dedicated page"
Especially for mobiles (when xmpp is blocked as is the case in many campuses). Allow pod.tld/chat and also add this link to mobile menu.

[2016-03-23 22:39] svbergerem opened #150 "404 when clicking the diaspora* logout link with activated chat"
On the master branch when you are online and try to sign out of diaspora\* you will receive a 404 error. This happens because logout is only possible via `DELETE` but when your online status is set to online we use `GET` instead. It doesn't happen on the develop branch.

Although I didn't look that much into the jsxc code [this line](https://github.com/diaspora/jsxc/blob/a168038/src/jsxc.lib.xmpp.

[2016-03-27 10:47] Zauberstuhl commented on #150
Without testing I guess it is following line:
https://github.com/diaspora/diaspora/blob/master/app/assets/javascripts/jsxc.js#L15

that line was removed from develop.

[2016-04-10 07:10] alex1702 opened #151 "Chatfenster überdeckt "zurück nach oben" Button"
![diasporachat](https://cloud.githubusercontent.com/assets/1862815/14408603/dc8ff8ae-fefb-11e5-826e-bd3bc1980cb6.png)

Wie man sieht überdeckt das geschlossene Chatfenster zum Teil den "zurück nach oben" Button.
Bei geöffnetem Chatfenster ist er garnicht mehr zu sehen.

[2016-04-10 08:41] denschub commented on #151
Just for the record, we are an international development community, so please submit your issue repots in English.

[2016-04-12 10:41] prellele opened #152 "Group Chatcontacts by Online/Offline in Chatsidebar"
For a better overview which of your conacts are for chatting availble, they should be grouped by offline/online. Grouping them in panels which are fouldable may be a good solution.

moved from https://github.com/diaspora/diaspora/issues/6754

[2016-04-12 10:42] prellele opened #153 ""Hide offline contacts" only hides profile picture"
Hitting the "Hide offline contacts" button in the chatsidebar only has the consequence that "profile pictures"/"colorfull chars" of offline contacts are hidden

moved from https://github.com/diaspora/diaspora/issues/6756

[2016-04-12 21:38] Zauberstuhl commented on #153
duplicate of #144

[2016-04-12 21:38] #153 closed

[2016-05-09 16:24] jh537 opened #154 "Diaspora JSXC no encrypting/OTR"
Hello, I have DIASPORA PRODUCTIVE with PROSIDY on Ubuntu Server 14.04 and as CLIENT Ubuntu 16.04 Pidgin, Diaspora, Firefox 46. Here it will not work in JSXC functions "Encrypt" (Castle) and verifying. For other users, the problem is similar. About Pidgin OTR works flawlessly.

![bildschirmfoto vom 2016-05-09 18-24-13](https://cloud.githubusercontent.com/assets/15912276/15119876/49c9d826-1613-11e6-

[2016-08-08 19:48] kas70 opened #156 "Update to jsxc v3.0.0"
https://www.jsxc.org/blog/2016/03/11/v3.0.0-released.html

[2016-08-09 17:04] Zauberstuhl commented on #156
is related to #155 need to refresh the pull and test it. cheers

[2016-08-30 17:28] TwizzyDizzy opened #157 "JSXC using non-SSL connection"
Hi folks,

I'm not quite sure whether this is an issue of JSXC itself or the implementation from diaspora's side. Still, I think this is the right place evaluate how to move on from here.

I have a diaspora instance that has just been upgraded to 0.6. After that I tried enabling the XMPP chat feature.

Prerequsites:

* pod is reachable via https://pod.thomasdalichow.de
* Prosody 0.10-nightly (conn

[2016-08-30 22:15] Zauberstuhl commented on #157
Hi, set `proxy` to true and configure your web server according to the integration wiki -> https://wiki.diasporafoundation.org/Integration/Chat#Browser_blocks_mixed-content

[2016-08-31 11:28] TwizzyDizzy commented on #157
Hi Zauberstuhl,

Indeed, I haven't had set the proxy setting, with it enabled it now works as expected!

The yaml format is somewhat misleading in that respect since I thought that "proxy" doesn't take effect if "server:enabled" is "false".

Anyway, thanks for having a look, your help is appreciated :)

Cheers
Thomas

[2016-08-31 11:28] #157 closed

[2016-09-06 19:19] renanalfarth opened #158 "Selecting language"
Looking in the documentation I don't find how to select a different language.

I've tried the code bellow, but not works:

`   jsxc.init({
     options: {
       locale: 'pt-BR'
     }
   });`

`   jsxc.init({
       locale: 'pt-BR'
   });`

How do I enable a custom language?

Thanks.

[2016-09-08 11:02] #158 closed

[2016-09-11 22:35] Zauberstuhl commented on #156
fixed in latest dev version

[2016-09-11 22:35] #156 closed

[2016-09-11 22:35] Zauberstuhl commented on #154
fixed in latest dev version

[2016-09-11 22:35] #154 closed

[2016-09-11 23:30] #40 closed

[2016-09-11 23:31] Zauberstuhl commented on #83
can we close this one?

[2016-09-11 23:32] Zauberstuhl commented on #130
still was requested a couple of times. but it should be possible to opt-out for a user

[2016-09-11 23:35] Zauberstuhl commented on #146
Closing since we moved officially to prosody

[2016-09-11 23:35] #146 closed

[2016-09-12 01:35] Zauberstuhl commented on #144
it works under chrome... just browser things :+1:

[2016-09-12 07:17] Flaburgan commented on #83
The chat is not displayed on every pages actually, what have changed which can close this?

[2016-09-12 09:29] Zauberstuhl commented on #83
Its not an jsxc issue and its tracked via https://github.com/diaspora/diaspora/issues/6143

[2016-09-12 21:32] #145 closed

[2016-09-12 21:34] Zauberstuhl commented on #131
FYI; with the latest version it works in chrome 46.0.2490.71 (64-bit) at least.

[2016-09-12 22:21] Zauberstuhl commented on #131
@sualko I used following:

`jsxc.options.RTCPeerConfig.iceServers[0].urls="stun:stun.l.google.com:19302"`

### caller

[code]

### receiver

[code]

It is probably a front-end bug since the receiver is in a pending state. Should there be some button appearing?

[2016-09-12 22:31] Zauberstuhl opened #159 "If the authentication breaks the client will stay online "green""
should be merged upstream. lets gather some examples first

[2016-09-14 02:55] lancegilbert commented on #130
This is pretty important as otherwise users seem to simply assume Chat isn't working. I've attempted to roll back the following change: https://github.com/diaspora/jsxc/pull/113/commits/44cd6acb9fd50f06e3d1c6e0a538a5a4cfbf676b however after verifying that the template was successfully compiled into the minified javascript and deployed to the CDN the behavior regarding login remains the same.

Do y

[2016-09-14 11:15] Zauberstuhl commented on #130
@lancegilbert if you want to enable it on login add to `app/assets/javascript/jsxc.js` at the bottom following line `jsxc.xmpp.login();`

We haven't done this in respect of privacy matters.

[2016-09-14 18:56] lancegilbert commented on #130
@Zauberstuhl Thank you!

Would you be open to having this be a user-configurable option which is by default set to false, with said default being configurable via the pod configuration?

The same goes with the chat enable on the aspect being set to false by default - I would also like to expose the default chat-enabled setting for aspects into a per user setting which is false but configurable via

[2016-09-14 19:56] Flaburgan commented on #130
We should discuss about that on loomio ;)

[2016-09-15 10:22] Zauberstuhl commented on #130
change-state does exactly the same (https://github.com/diaspora/jsxc/blob/develop/src/jsxc.lib.gui.js#L1196), but yes that works as well :)

The user should be able to set this in his privacy section.

[2016-09-15 16:26] Zauberstuhl opened #160 "Otr worker with newer browser versions broken"
[code]

[2016-09-15 20:53] lancegilbert commented on #130
Thank you for taking a pass at this!

I was actually making some very similar changes, however I was trying to store off any explicitly set user presence states.

For instance, if a user:
* Has automatic connection enabled
* Is automatically set to 'online' after page load
* Explicitly sets their presence to 'away'
* Navigates to another page

Will the presence be forced again to 'online' or will

[2016-09-15 22:08] Zauberstuhl commented on #130
good call I shouldn't use the presence function, I will update that tomorrow \m/

[2016-09-25 14:37] pravi commented on #62
@Zauberstuhl can we at least remove minified js from jsxc.dep.js immediately? Currently strophe.min.js is used in jsxc.dep.js. Also can you document how this file is created (which are the dependencies used)? This is blocking diaspora package update to 0.6.0.0 in debian.

[2016-09-26 04:59] pravi commented on #62
Also why do we need to create jsxc.dep.js? Doesn't assets:precompile step do concatenation already?

[2016-09-26 10:40] Zauberstuhl commented on #62
All dependencies with the correct license is documented here https://github.com/diaspora/jsxc/blob/develop/dep.json

Why is it blocking th debian package release?

Many stuff is not available in rails assets or cannot be used via the assets pipeline (e.g. web worker)

[2016-09-26 11:09] pravi commented on #62
On 2016, സെപ്റ്റംബർ 26 4:10:45 PM IST, Lukas Matt <notifications@github.com> wrote:

Thanks, I will check this.

Because minified files are not considered source code and every binary should have its corresponding source code.

So we minify the non-minified source during package build.

I think jsxc upstream has the non-minified jsxc.dep.js I'll try to take it from there directly.

Is it true for

[2016-09-30 10:15] AugierLe42e opened #161 "JSXC interferes with Cucumber locally"
When running the cukes, I get:

[code]

[2016-10-01 11:46] Zauberstuhl commented on #161
And why is that a problem for jsxc? sounds like a configuration issue to me.

JSXC ignores some global vars as well -> https://github.com/diaspora/jsxc/blob/develop/.jshintrc#L16

[2016-10-01 11:49] Zauberstuhl commented on #62
not only upstream -> https://github.com/diaspora/jsxc/blob/develop/build/jsxc.dep.js

haven't checked. OTR and webworker is the first thing which comes to my mind.

[2016-10-01 12:38] pravi commented on #62
@Zauberstuhl can't we use rails-assets-jsxc directly? Though their bower package is not yet updated to 3.0 https://github.com/jsxc/jsxc/issues/371

[2016-10-01 12:44] pravi commented on #62
No, that uses strophe.min.js, see and compare
https://raw.githubusercontent.com/jsxc/jsxc/master/build/lib/jsxc.dep.js

which uses strophe.js (non minimized).

[2016-10-04 10:37] Zauberstuhl commented on #62
unfortunately no, the dependencies are broken: https://github.com/jsxc/jsxc/blob/master/bower.json#L30

[2016-10-06 07:44] sualko commented on #131
Sorry for my very late reply, I was busy at university. Currently I have to fix some more urgent bugs, but I will have a look at it as soon as possible (probably after I released a bug fix release). Please remind me, if I don't respond within a week.

[2016-10-23 17:23] #143 closed

[2016-11-01 13:02] Zauberstuhl commented on #161
Can I close this?

[2016-11-01 13:04] Zauberstuhl opened #164 "Refresh pages in dev will break session"

[2016-11-30 11:08] Flaburgan commented on #83
Forgot about this comment sorry, sure we can close it here.

[2016-11-30 11:08] #83 closed

[2017-04-20 13:26] phaidros7 opened #165 "Update to jsxc v3.1.0"
https://www.jsxc.org/blog/2017/02/14/v3.1.0-released.html

[2017-04-20 13:28] phaidros7 commented on #124
maybe #165 ?

[2017-05-30 12:05] sualko commented on #165
https://www.jsxc.org/blog/2017/05/17/v3.2.0-released.html :stuck_out_tongue_winking_eye: